# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\user\iCloudDrive\PhD\deliverables\2021\research_project_1\pycharmProjects\Project_1_Explain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
